@keyframes ldio-8qlntb385t4 {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.ldio-8qlntb385t4 div {
    box-sizing: border-box !important
}

.ldio-8qlntb385t4>div {
    position: absolute;
    width: 144px;
    height: 144px;
    top: 28px;
    left: 28px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: #ffb718 transparent #ffb718 transparent;
    animation: ldio-8qlntb385t4 1.6666666666666667s linear infinite;
}

.ldio-8qlntb385t4>div:nth-child(2),
.ldio-8qlntb385t4>div:nth-child(4) {
    width: 108px;
    height: 108px;
    top: 46px;
    left: 46px;
    animation: ldio-8qlntb385t4 1.6666666666666667s linear infinite reverse;
}

.ldio-8qlntb385t4>div:nth-child(2) {
    border-color: transparent #ffffff transparent #ffffff
}

.ldio-8qlntb385t4>div:nth-child(3) {
    border-color: transparent
}

.ldio-8qlntb385t4>div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-8qlntb385t4>div:nth-child(3) div:before,
.ldio-8qlntb385t4>div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 48px;
    background: #ffb718;
    border-radius: 50%;
    box-shadow: 0 128px 0 0 #ffb718;
}

.ldio-8qlntb385t4>div:nth-child(3) div:after {
    left: -16px;
    top: 48px;
    box-shadow: 128px 0 0 0 #ffb718;
}

.ldio-8qlntb385t4>div:nth-child(4) {
    border-color: transparent;
}

.ldio-8qlntb385t4>div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-8qlntb385t4>div:nth-child(4) div:before,
.ldio-8qlntb385t4>div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 30px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 92px 0 0 #ffffff;
}

.ldio-8qlntb385t4>div:nth-child(4) div:after {
    left: -16px;
    top: 30px;
    box-shadow: 92px 0 0 0 #ffffff;
}

.loadingio-spinner-double-ring-ueqvx75pnz {
    margin-left: 75px;
    width: 230px;
    height: 230px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f300;
}

.ldio-8qlntb385t4 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-8qlntb385t4 div {
    box-sizing: content-box;
}