.letter-spacing-5{
    letter-spacing: 5px
}
.width-45{
    width: 45px;
}
.width-100{
    width: 100px;
}

.box-icons-section{
    background-color: #F2F1F8;
    padding-top: 15px ;
    margin: 25px 1px;
}
